
{% extends "base.html" %}

<title>{% block titutlo %}CRUD Clientes{% endblock %}</title>
{% block archivos_css %}
<link rel="stylesheet" href="../static/css/estilos.css">
{% endblock %}

{% block contenido%}
<div class="container-fluid mt-5">
    <h2>Registro de Clientes</h2>
    <div class="row">
        <div class="col-md-4">
            <!-- Formulario de Registro -->
            <div class="card">
                <div class="card-header">Agregar Cliente</div>
                <div class="card-body">
                    <form id="formulario-agregar-cliente">
                        <div class="form-group">

                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="direccion">Dirección:</label>
                            <input type="text" id="direccion" name="direccion" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" id="telefono" name="telefono" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo:</label>
                            <input type="email" id="correo" name="correo" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btn-agregar-cliente">Agregar</button>
                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="mt-2">Lista de Clientes</h2>
            <!-- Contenedor de la tabla con desplazamiento -->
            <div class="table-responsive">
                <table id="tabla-clientes" class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal de MostrarMensaje -->
<div class="modal fade" id="mensajeModal" tabindex="-1" role="dialog" aria-labelledby="mensajeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mensajeModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Ventana flotante para editar -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Campos de edición del cliente -->
                <form id="formularioEditar">
                    <input type="hidden" id="clienteId" name="clienteId">
                    <div class="form-group">
                        <label for="nombreEdit">Nombre:</label>
                        <input type="text" class="form-control" id="nombreEdit" name="nombreEdit" require>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="direccionEdit">Dirección:</label>
                        <input type="text" class="form-control" id="direccionEdit" name="direccionEdit" require>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="telefonoEdit">Teléfono:</label>
                        <input type="tel" class="form-control" id="telefonoEdit" name="telefonoEdit" require>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="correoEdit">Correo:</label>
                        <input type="correo" class="form-control" id="correoEdit" name="correoEdit" require>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btn-guardar-cambios">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar cliente -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formularioEliminar">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel">Eliminar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="clienteIdEliminar" name="clienteIdEliminar">
                    <p>¿Está seguro de que desea eliminar al siguiente cliente?</p>
                    <p><strong>Nombre:</strong> <span id="nombreEliminar"></span></p>
                    <p><strong>Dirección:</strong> <span id="direccionEliminar"></span></p>
                    <p><strong>Teléfono:</strong> <span id="telefonoEliminar"></span></p>
                    <p><strong>Correo:</strong> <span id="correoEliminar"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" name="btn-eliminar">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block archivos_js %}
<script src="../static/js/script.js"></script>
{% endblock %}